.image {
  background: url('../images/about.jpg') center center/cover no-repeat;
  height: 80vh;
  width: 99%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}
